@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
nav {
  display: flex;
  justify-content: center;
}
nav ul {
  width: 40%;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 3vh;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}
h1 {
  margin: 0;
  text-align: left;
  letter-spacing: 7px;
  font-size: 4em;
  margin-left: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 2%;
}
.article {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.article a {
  color: black;
}
.article p {
  height: 20vh;
  font-size: 0.9em;
}
.article img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 1vh;
}
input[type=button] {
  padding: 8px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  color: black;
  text-transform: uppercase;
  outline: none;
  margin-bottom: 3vh;
  margin-left: 5px;
  transition: all 0.5s;
  background-color: rgb(232, 232, 232);
}
input{
  outline: none;
  border: 2px solid black;
  padding: 8px 1%;
  font-size: 0.9em;
  border-radius: 3px;
  margin-bottom: 1vh;
}
.buttons-wrap, .search-wrap{
  text-align: right;
  margin-right: 30px;
}